{% extends 'layout.html' %}

{% block top %}
    <div class="nn-small-text">
        <h2>Hi, {{ current_user.username }}! </h2>
    </div>
    <div class="nn-light-text">
        <h2>HERE IS YOUR ACCOUNT INFO</h2>
    </div>
        <div class="nn-form container">
            <form action="" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <br>
                <div class='form-group'>
                    <img class="rounded-circle d-block m-auto" src="{{ image }}" width="100" height="100">
                </div>
                <div class='form-group'>
                    {{ form.username.label(class='font-weight-bold mt-2') }}
                    {% if form.username.errors %}
                        {{ form.username(class='form-control form-control-lg is-invalid') }}
                        <div class='invalid-feedback'>
                            {% for error in form.username.errors %}
                                <span>{{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class='form-control form-control-lg') }}
                    {% endif %}
                </div>
                <div class='form-group'>
                    {{ form.email.label(class='font-weight-bold') }}
                    {% if form.email.errors %}
                        {{ form.email(class='form-control form-control-lg is-invalid') }}
                        <div class='invalid-feedback'>
                            {% for error in form.email.errors %}
                                <span>{{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class='form-control form-control-lg') }}
                    {% endif %}
                </div>
                <div class='form-group'>
                    {{ form.image.label(class='font-weight-bold mt-2') }}
                    {{ form.image(class='form-control-file') }}
                    {% if form.image.errors %}
                        {% for error in form.image.errors %}
                            <span class='text-danger'>{{ error }} </span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class='form-group'>
                    {{ form.submit(class='btn btn-primary') }}
                </div>
                <br>
            </form>
        </div>
        <div class='nn-space'>  
        </div>
    </div>
    
{% endblock top%}