.nn-first-page {
    display: block;
    background-color:#f3f3f3;
    height: 100%;
    min-height: 100vh;
}

.nn-link-color {
    color: #0056B0;
}

.nn-nonlink-color {
    color: #07985d
}

.navbar {
    padding-top: 1.5vh;
    padding-bottom:8.5vh;
}
.bg-info {
    background-color: #f3f3f3 !important;
}
a {
    color: #0056B0;
    word-wrap: break-word;
}
.nn-top-right {
    color:#0056B0;
    font-weight: 600;
    padding: 1.2em;
}
.nn-top-right:hover {
    padding: 0;
    margin-left: 1.2em; 
    margin-right: 1.2em; 
    border-bottom: 3px solid #9AB5FF;
}

.nn-text, .nn-small-text {
    text-align: center;
    color: #234ef3;
    font-weight: bold;
}
.nn-text h2{
    color: #234ef3;
    font-size: 4em; 
    font-weight: 600;
    font-family: ltc-bodoni-175;
}
.nn-small-text h2{
    color: #234ef3;
    font-size: 2.5em; 
    font-weight: 600;
    font-family: ltc-bodoni-175;
}
.nn-light-text h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: ltc-bodoni-175;
    color: #9AB5FF;
    font-size: 18px;
    letter-spacing: 2px;
    padding-bottom: 2vh;
}

#nn-about img {
    width: 58vh;
    height: 70vh;
    display: block;
    margin: 0 auto;
    padding-top: 5vh;
    padding-bottom: 15vh;
}

.nn-inline {
    display: inline;
}

.nn-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24vh;
    max-width: 500px;
    height: max-content;
    border-radius: 10px;
    background-color: white;
}
.btn {
    display: block;
    margin: 20px auto;
    width: max-content;
}
.nn-avatar {
    width: 120px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 30px;
}

.col-12 p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 500px;
    margin-bottom: 60px;
}

ul {
    list-style: none;
    padding: 0;
}
ul ul {
    display: block;
    margin: 0 0 0 2em;
}

.nn-personal-information ul li {
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-right: 1em;
    border-bottom: 1px dashed #3498db;
    color: #3f51b5;
}

.nn-outer-skill {
    background-color: #ddd;
    margin-bottom: 1.5px;
    border-radius: .3em;
}
.nn-inner-skill {
    text-align: right;
    color: white;
    background-color: #ddd; 
    padding-right: 10px;
    margin-bottom: 15px; 
    border-top-left-radius: .3em;
    border-bottom-left-radius: .3em;
}

.nn-personal-information, .nn-skills {
      margin-bottom: 2em;
}

.nn-list-left, .nn-list-right {
    width: 98%;
    display: block;
    margin: auto;
}
.nn-list-left p{
    padding: .1em .1em .1em 1em;
    margin: .6em 0;
    background:  #4caf50;
    color: white;
    border-radius: .3em;
    text-align: left;
    font-weight: 500;
    margin-right: .5em;
}
.nn-list-right p{
    padding: .1em .1em .1em 1em;
    margin: .5em 0;
    color: #3f51b5;
    text-decoration: none;
    border-radius: .3em;
    text-align: left;
    font-weight: 500;
    border-bottom: 1px dashed #3498db;
    margin-left: 10px;
}

.nn-article {
    padding-top: 3%;
    border-top: solid 1px #eee;
    padding-bottom: 3%;
}
.nn-article p {
    text-align: left;
    color: #6a6e73;
    margin : 0;
}

.nn-thumbnail {
    border-radius: 8px;
    padding:0;
    margin: 0;
    width: 100%;
}

.nn-title {
    font-size: 22px;
    font-weight: 700;
    color: black;
}

.nn-category {
    font-weight: bold;
    color: black;
}

.nn-title:hover, .nn-category:hover {
    color: #234ef3;
    text-decoration: none;
}


.nn-name {
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 1.5px;
    padding-top: 10px;
    border-top: 2px solid #eee;
    font-family: ltc-bodoni-175;
    
}
.nn-line {
    padding-top: 10px;
    border-bottom: 5px dotted #656363;
    width: 40px;
    margin: 0 auto;
}
.nn-task {
    padding-top: 10px;
    color: gray;
}
.nn-contact {
    padding-bottom: 20px;
}
.nn-contact img {
    padding-top: 2px;
    width: 30px;
    height: 30px;
    margin-right: 8px;
}


@media only screen and (max-width: 990px) {
    .nn-list-left p {
        padding: .4em .4em .4em 1em;
        margin: .5em 0;
        background: white;
        color: #3f51b5;
        text-align: left;
        border-bottom: 1px dashed #3498db;
    }

    .nn-list-right p {
        padding: .4em .4em .4em 1em;
        margin: .5em 0;
        background:  #4caf50;
        color: white;
        text-align: left;
        /* font-size: 14px; */
        border-bottom: none;
  }
}

@media only screen and (max-width: 780px) {
    .nn-title {
        font-size: 16px;
        font-weight: 700;
    }

    .nn-article p {
        font-size: 13px;
    }

    .nn-hidden {
        display: none !important;
    }
}


@media only screen 
  and (min-device-width: 200px) 
  and (max-device-width: 1000px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .nn-top-right {
        font-size: 0.93em;
        font-weight: 700;
        padding: 1.5vw;
    }
    
    #nn-about img {
        width: 90vw;
        height: 65vh;
        display: block;
        margin: 0 auto;
        padding-top: 0;
        padding-bottom: 20vh;
    }

    .nn-text p {
        padding-bottom: 5vh;
        margin: 0;
    }

    .nn-light-text h2 {
        font-size: 15px;
        padding-bottom: 5vh;
    }

    .container {
        padding-left: 8px;
        padding-right: 8px;
    }

    .nn-list-left, .nn-list-right {
        width: 100%;
    }
  
    .nn-list-left p {
        padding: .4em .4em .4em 1em;
        margin: .5em 0;
        background: white;
        color: #3f51b5;
        text-align: left;
        font-size: 0.86em;
        border-bottom: 1px dashed #3498db;
    }

    .nn-list-right p {
        padding: .4em .4em .4em 1em;
        margin: .5em 0;
        background:  #4caf50;
        color: white;
        text-align: left;
        font-size: 0.86em;
        border-bottom: none;
    }

    .nn-line {
        border-bottom: 3px dotted #656363;
        width: 50px;
    }

    .nn-form {
        max-width: 90vw;
    }
}

@media only screen 
  and (min-device-width: 200px) 
  and (max-device-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .navbar {
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    .nn-text h2 {
        padding: 0;
        margin: 0;
        font-size: 2.4em;
        color: blue;        
    }

    .nn-light-text h2 {
        font-size: 12px;
        padding-top: 4vh;
        padding-bottom: 5vh;
        margin: 0px;
        font-weight: 1900;
    }

    #nn-about img {
        width: 59vh;
        height: 59vh;
        display: block;
        margin: 0 auto;
        padding-top: 0vh;
        padding-bottom: 20vh;
    }

    .nn-list-left p {
        padding: .4em .4em .4em 1em;
        margin: .5em 0;
        background: white;
        color: #3f51b5;
        text-align: left;
        font-size: 1em;;
        border-bottom: 1px dashed #3498db;
    }

    .nn-list-right p {
        padding: .4em .4em .4em 1em;
        margin: .5em 0;
        background:  #4caf50;
        color: white;
        text-align: left;
        font-size: 1em;
        border-bottom: none;
    }
    
    .nn-line {
        border-bottom: 3px dotted #656363;
        width: 50px;
    }
}

#carouselExampleControls, #carouselExampleControls2, #carouselExampleControls3, 
#carouselExampleControls4, #carouselExampleControls5, #carouselExampleControls6{
    max-width: 800px !important;
    margin: auto;
    padding: 50px;
    border-radius: 5px;
  }